.navigationIcon {
  &:active {
    & svg {
      transform: scale(0.9);
      transition: transform 0.1s ease;
    }
  }
  &[data-active="true"]::after {
    color: var(--primary500);
    font-weight: 600;
  }
}
