#tiptap_Editor {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: inherit;

  ul {
    padding-left: 20px;
    list-style-type: disc;
  }
  ol {
    padding-left: 24px;
    list-style-type: decimal;
    li::marker {
      font-variant-numeric: tabular-nums;
    }
  }
  p {
    font-size: 1.4rem;
    line-height: 2rem;
    min-height: 2rem;
    font-weight: 400;
  }
  h1 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 600;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 500;
  }
  h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
  }
  strong,
  b {
    font-weight: 600;
  }

  mark {
    padding: 0 1px 0 0;
    background-color: rgba(255, 242, 96, 0.85);
    color: #000;
    border-radius: 1px;
  }

  img {
    margin: 10px 0;
    max-width: 100%;
    height: auto;
  }

  blockquote {
    margin-bottom: 8px;
    border-left: 5px solid var(--gray400);
  }
  blockquote > p,
  blockquote > h1,
  blockquote > h2,
  blockquote > h3 {
    display: inline-flex;
    padding: 2px 0 2px 8px;
    align-items: center;
  }

  em {
    font-style: italic;
  }

  a.editor-link {
    display: inline-flex;
    padding: 1px 6px;
    border: 1px solid var(--gray300);
    border-radius: 8px;
    gap: 4px;
    align-items: center;
    color: var(--info500);
  }
  a.editor-link::before {
    content: "🔗";
  }

  .wrong-iframe {
    margin: 0 0 2px;
    font-size: 1.3rem;
    line-height: 1.35rem;
    color: var(--gray500);
    font-weight: 400;
  }
}
