@import "./reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600");

body {
    color: #000;
    background-color: #f5f5f5;
}

body.dark {
    color: #fff;
    background-color: #212121;
}

.main-conatiner {
    margin: 0 auto;
    max-width: 1024px;
}

.numbers {
    font-family: "Barlow Condensed";
    letter-spacing: 0.5px;
}

/* 접근성을 위한 텍스트 숨김 */
.a11y-hidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
}
