@import "./reset.css";

@keyframes loading-frames {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
div.loading-ui {
  background-color: var(--gray200);
  background: linear-gradient(100deg, var(--gray200) 25%, var(--gray300) 50%, var(--gray200) 75%);
  background-size: 200% 100%;
  -webkit-animation: loading-frames 1.5s infinite;
  -moz-animation: loading-frames 1.5s infinite;
  -o-animation: loading-frames 1.5s infinite;
  animation: loading-frames 1.5s infinite;
}

:root {
  --header-height: 54px;
  --mobile-max-width: 480px;
  --safe-area-top: calc(var(--header-height) + env(safe-area-inset-top));
  --safe-area-bottom: calc(var(--env-sab) + 48px);
  --env-sat: env(safe-area-inset-top);
  --env-sab: env(safe-area-inset-bottom);

  --radius-10: 10px;
  --animate-pop: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --animation-cubic: cubic-bezier(0.05, 0, 0, 1);
  --inset-shadow20: inset 0 0 8px rgba(0, 0, 0, 0.2);
  --shadow-alpha20: 0 2px 4px 0 rgba(141, 141, 141, 0.15);

  --background: #f7fafc;
  --background-rgb: 247, 250, 252;
  --background-light: #fff;
  --background-light-rgb: 256, 256, 256;

  --gray900: #0f172a;
  --gray800: #1e293b;
  --gray700: #334155;
  --gray600: #475569;
  --gray500: #64748b;
  --gray400: #94a3b8;
  --gray300: #cbd5e1;
  --gray200: #e2e8f0;
  --gray100: #f1f5f9;
  --gray50: #f8fafc;
  --white: #fff;

  --primary900: #0e633c;
  --primary800: #177843;
  --primary700: #24954d;
  --primary600: #35b256;
  --primary500: #49cf60;
  --primary400: #74e27c;
  --primary300: #94f093;
  --primary200: #c0fab9;
  --primary100: #e2fcdb;
  --primary50: #f0fdec;

  --success900: #086261;
  --success800: #0d776a;
  --success700: #159478;
  --success600: #1fb182;
  --success500: #2bce8a;
  --success400: #5be19c;
  --success300: #7ef0a9;
  --success200: #aafac1;
  --success100: #d4fcdb;
  --success50: #e7fdeb;

  --info900: #09237a;
  --info800: #0f3393;
  --info700: #1949b7;
  --info600: #2463db;
  --info500: #3281ff;
  --info400: #65a6ff;
  --info300: #83bdff;
  --info200: #add6ff;
  --info100: #d6ecff;
  --info50: #ebf6ff;

  --warning900: #7a3f05;
  --warning800: #935309;
  --warning700: #b76f0f;
  --warning600: #db8d16;
  --warning500: #ffaf1f;
  --warning400: #ffc957;
  --warning300: #ffd878;
  --warning200: #ffe8a5;
  --warning100: #fff5d2;
  --warning50: #fff9e6;

  --red900: #770c25;
  --red800: #8f1427;
  --red700: #b2202b;
  --red600: #d52f2e;
  --red500: #f85040;
  --red400: #fa866f;
  --red300: #fca88c;
  --red200: #fecbb2;
  --red100: #fee8d8;
  --red50: #fef3eb;

  --purple900: #280c6a;
  --purple800: #3a1480;
  --purple700: #53209f;
  --purple600: #6f2ebe;
  --purple500: #8f40de;
  --purple400: #b26deb;
  --purple300: #cb8cf5;
  --purple200: #e2b4fb;
  --purple100: #f2d9fd;
  --purple50: #f8ecfe;

  --magenta900: #730d5b;
  --magenta800: #8b1664;
  --magenta700: #ac2371;
  --magenta600: #ce337b;
  --magenta500: #f04785;
  --magenta400: #f67496;
  --magenta300: #fa90a2;
  --magenta200: #fdb6bb;
  --magenta100: #fedbda;
  --magenta50: #fff1f0;

  --main: var(--primary500);
  --main-rgb: 3, 207, 96;
}

body {
  color: var(--gray900);
  background: #fff;
}

@media (max-width: 540px) {
  :root {
    --mobile-max-width: 100vw;
  }
}
:root[data-dark="true"] {
  --background: #111012;
  --background-rgb: 17, 16, 18;
  --background-light: #25262d;
  --background-light-rgb: 37, 38, 45;

  --gray1000: #fff;
  --gray900: #f0f0f0;
  --gray800: #dadae3;
  --gray700: #c8c8d1;
  --gray600: #b5b5bb;
  --gray500: #98979f;
  --gray400: #83838b;
  --gray300: #424248;
  --gray200: #2c2c32;
  --gray100: #212121;
  --gray50: #121212;
  --white: #000;
}
