* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}
html,
body {
    font-size: 10px;
    line-height: 1;
    font-family: SUIT Variable, -apple-system;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    background: none;
    border: none;
}

input,
textarea,
select,
option {
    font: inherit;
    border: none;
    outline: none;
    border-radius: 0px;
}
a,
button {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
